<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>localhost.restic</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>/usr/local/bin/restic -r sftp:leigh@10.242.83.164:/Volumes/PHD3\ Backups/restic --password-command "security find-internet-password -ws 10.242.83.164" backup ~ --one-file-system --exclude-file ~/config/restic-config/excludes && curl -fsS --retry 3 https://hc-ping.com/6cc79532-c1c3-4b28-8bea-a873ef92390d > /dev/null</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/leighbrenecki/Library/Logs/localhost.restic.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/leighbrenecki/Library/Logs/localhost.restic.err</string>
</dict>
</plist>