<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    ln -s ~/config/launch-agents/party.leigh.personal.backup.plist ~/Library/LaunchAgents/party.leigh.personal.backup.plist
    launchctl bootstrap gui/501 ~/Library/LaunchAgents/party.leigh.personal.backup.plist
    launchctl kickstart -k gui/501/party.leigh.personal.backup
    launchctl print gui/501/party.leigh.personal.backup | grep state
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>party.leigh.personal.backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/l/config/scripts/backup</string>
        <string>Ferroseed</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/l/config/scripts:/Users/l/Library/asdf/shims:/Users/l/.cargo/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:/Users/l/.dotnet/tools:/Applications/Wireshark.app/Contents/MacOS:/Users/l/config/scripts:/Users/l/Library/asdf/shims:/Users/l/.poetry/bin:/Users/l/.local/bin:/Users/l/.cargo/bin:/Users/l/Library/Android/sdk/tools:/Users/l/Library/Android/sdk/platform-tools:/Users/l/.poetry/bin:/Users/l/.local/bin:/Users/l/.cargo/bin:/usr/local/bin:/Users/l/Library/Android/sdk/tools:/Users/l/Library/Android/sdk/platform-tools</string>
    </dict>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/l/Library/Logs/backup.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/l/Library/Logs/backup.log</string>
</dict>
</plist>
